body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.stopwatch {
    margin: 100px auto;
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.time {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.milliseconds {
    font-size: 16px;
    margin-left: 5px;
}

.controls button {
    margin: 10px;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.controls button:hover {
    background-color: #0056b3;
}
